
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

@media screen and (max-width: 1000px){
	#content{
		width: 100%;
		padding: 0;
	}
}

*{
	box-sizing: border-box;
}

body{
	font-family:'Quicksand', sans-serif;
}

h2,h3{
	color: #BDB76B;
}

footer{
	padding: 20px;
	color: white;
	background-color: #BDB76B;
	text-align: center;
	font-weight: bold;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding : 20px;
	margin-top: 20px;
}

.card p{
    font-family: sans-serif;
    text-align: justify;
}

.card h3{
	color: #F0E68C;
}

jumbo-tron{
	display: block;
	font-size: 20px;
	padding:60px;
	background-color: #BDB76B;;
	text-align: center;
	color: white;
}

nav{
	background-color: #d2d2d2;
	padding: 5px;
	position: sticky;
	top: 0;
}

main{
	padding: 20px;
	overflow: auto;
}

#content{
	float: left;
	width: 100%;
}

header{
	display: inline;
}

